<div data-role="view" id="main" data-init="APP.main.init">
    <ul data-role="listview" data-source="APP.main.model.comments" data-template="commentTmpl"></ul>
</div>

<script type="text/x-kendo-tmpl" id="userTmpl">
	<div>
    	Name: ${name}<br />
    	Age: ${age}
    </div>
</script>

<script type="text/x-kendo-tmpl" id="commentTmpl">
	<div>
    	<p>${comment}</p>
    	<p>Posted: ${posted} by ${author.name} (${author.age})</p>
    </div>
</script>